[submodule "gina"]
	path = actions/gina
	url = https://github.com/todotxt/todo.txt-cli.git/
	branch = addons
[submodule "smajda"]
	path = actions/smajda
	url = https://github.com/smajda/todo.actions.d/
[submodule "drobertadams"]
	path = actions/drobertadams
    url = https://github.com/drobertadams/todo.txt-cli-addons.git
[submodule "actions/nthorne"]
	path = actions/nthorne
	url = git@github.com:nthorne/todo.txt-cli-again-addon.git
	branch = AgainAsDo
