[submodule "smajda"]
	path = actions/smajda
	url = https://github.com/smajda/todo.actions.d/
[submodule "drobertadams"]
	path = actions/drobertadams
    url = https://github.com/drobertadams/todo.txt-cli-addons.git
